body{
    font-family: Arial;
    text-align: center;
    background: #f4f4f4;
}

.container{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 40px;
}

.box{
    background: white;
    padding: 30px;
    width: 120px;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 0 10px gray;
    transition: 0.3s;
}

.box:hover{
    background: #4CAF50;
    color: white;
}

#content{
    margin-top: 40px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

pre{
    background: black;
    color: lime;
    padding: 15px;
    text-align: left;
    white-space: pre-wrap;
    border-radius: 8px;
}
